<nav role="navigation" class="navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home.index">{{acc.title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ang-security-permission class='navbar-form navbar-right'
                                     user='app/modules/security.module/templates/user.tpl.html'
                                     admin='app/modules/security.module/templates/user.tpl.html'
                                     anonymous='app/modules/security.module/templates/signin.tpl.html'>
            </ang-security-permission>
        </div>
    </div>
</nav>
