<div class="login-form centered">
  <div>

      <h1><i class="fa fa-user menu-icon"></i> Login</h1>
  </div>
  <form role="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" ng-model="alc.user.username" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="alc.user.password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success" ng-click="alc.login(alc.user.username)">Sign in</button>
      <button type="submit" class="btn btn-info" ng-click="alc.register()">Register</button>
    </form>
    <a ui-sref="signup()">Click here to Signup</a>
</div>
