<div role="navigation" class="navbar-inverse">
   		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" ui-sref="home.index">{{acc.title}}</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a ui-sref="home">section 1 <span class="sr-only"></span></a></li>
		        <li><a ui-sref="home">section 2</a></li>
		        <li><a ui-sref="home">section 3</a></li>
		      </ul>
             <ang-security-permission
                    class     = 'navbar-form navbar-right'
                    user      = 'app/modules/securityModule/templates/user.tpl.html'
                    admin     = 'app/modules/securityModule/templates/user.tpl.html'
                    anonymous = 'app/modules/securityModule/templates/signin.tpl.html'
             >
            </ang-security-permission>
            </div>
</div>
