* {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #fff;
  overflow: hidden;
}
ul {
  list-style-type: none;
}
.sample {
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.user-widget > button {
  font-size: 15px;
  padding: 1px 5px;
}
.user-widget > span {
  font-size: 15px;
}
.user-widget > * {
  vertical-align: middle;
}
