#toggle-menu {
  height: 100vh;
  float: left;
  background-color: #141414;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #toggle-menu {
    width: 1%;
  }
}
@media screen and (max-width: 768px) {
  #toggle-menu {
    width: 5%;
  }
}
#menu-container {
  position: relative;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  float: left;
  background-color: #1c1c1c;
  height: 100vh;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #menu-container {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  #menu-container {
    width: 20%;
  }
}
.menu {
  padding-left: 0;
  display: inline;
}
.menu-item {
  line-height: 2em;
  padding-left: 1em;
  opacity: 0.6;
  cursor: pointer;
  width: 100vw;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.menu-item:hover {
  opacity: 1;
  background-color: #848484;
}
.menu-item div {
  width: 90%;
  padding-left: 16px;
}
.menu-close {
  width: 0% !important;
}
.noselect {
  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu-icon {
  left-margin: 10px;
}
.active {
  opacity: 1 !important;
}
